{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner main">
        <div class="col-md-11 col-md-offset-1 padding-top">
            <h1>Edit {{state.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="{{url_for('editState', state_id=state.id)}}" method="post">
                <div class="form-group">
                    <label for="name">State Name:</label>
                        <input type ="text" class="form-control" name="name" value="{{state.name}}">
                    <label for="abbrev">State Abbreviation:</label>
                        <input type ="text" class="form-control" name="abbrev" maxlength="2" value="{{state.abbrev}}">
                    <div class="padding-bottom"></div>
                        <button type="submit" class="btn btn-default" id="submit" type="submit">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Save
                        </button>
                        <a href='{{url_for('showStates')}}'>
                            <button class="btn btn-default delete" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Cancel
                            </button>
                        </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}