<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('showStates')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Show All States
        </a>
    </div>
    <div class = "col-md-6 text-right">
        {% if not currentUserID %}
            <a href = "{{url_for('showLogin')}}">
                Click here to log in
            </a>
        {% else %}
            <a href = "{{url_for('disconnect')}}">
                Log out
            </a>
        {% endif %}
    </div>
</div>