<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Da" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/styles.css?1.1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"></script>
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10 text-center">
					<p>Images from <a href="https://www.nasa.gov/multimedia/imagegallery/">NASA</a>.</p>
				</div>
				<div class="col-md-1">
				</div>
		</div>
	</body>
</html>